<span style='color: #000' title='Frames'>    70</span><span style='color: #009' title='Memory'>  27136.00 KB</span><span style='color: #900' title='Time'>    218.77 ms</span><span  title='Quirksmode'>  <span style='color: #d00'> ON</span></span><br />